<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <link rel="shortcut icon" href="http://naveensingh.net/assets/img/favicon.ico?v=dc9471ece3"/>
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>tinymce.init({selector:"textarea",plugins: ["image","preview", "media"]});</script>
    <link rel="stylesheet" href={% static 'css/style.css' %} />
    <meta charset="UTF-8">
    <title>{% block meta_title %}{% endblock %} | Content Delivery</title>
</head>
<body>
{% block main %}
{% endblock %}
</body>
</html>