{% extends "base.html" %}
{% block main %}
    <div class="container" style="margin: 20px auto;width: 80%;">
        <div class="jumbotron">
            <h1>Add</h1>
                <form action="" method="post" class="form-horizontal">
                 <div class="form-group">
                            {% csrf_token %}
                            {{ form }}
                 </div>
                    <div class="form-group">
                            <input type="submit" class="btn btn-default" value="Submit" />
                    </div>
                </form>
        </div>
    </div>
{% endblock %}